<form [formGroup]="form" (ngSubmit)="changePassword()">
  <div class="form-group">
    <label for="oldpassword">Old Password</label>
    <input type="text" class="form-control" formControlName="oldPassword" />
    <div
      class="alert alert-danger"
      *ngIf="oldPassword.touched && !oldPassword.valid"
    >
      <div *ngIf="oldPassword.errors?.['required']">
        old password can't be empty
      </div>
      <div *ngIf="oldPassword.errors?.['invalidOldPassword']">
        old password is not valid
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="newpassword">New Password</label>
    <input type="text" class="form-control" formControlName="newPassword" />
    <div
      class="alert alert-danger"
      *ngIf="newPassword.touched && !newPassword.valid"
    >
      <div *ngIf="newPassword?.errors?.['required']">
        new password can't be empty
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirmpassword">Confirm Password</label>
    <input type="text" class="form-control" formControlName="confirmPassword" />
    <div
      class="alert alert-danger"
      *ngIf="confirmPassword.touched && !confirmPassword.valid"
    >
      <div *ngIf="confirmPassword?.errors?.['required']">
        confirm password can't be empty
      </div>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="form.invalid">
    <div *ngIf="form?.errors?.['oldAndNewPasswordsAreSame']">
      oldAndNewPasswordsAreSame
    </div>
    <div *ngIf="form?.errors?.['passwordsNotMatching']">
      Passwords are not matching
    </div>
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>
